# External libraries
extern/SDL*

# External library cache
/cache

# Build directories
/build*/
/cmake-build*/
/dist/
/out/

# IDEs
.vs/
/.vscode
/.idea

# macOS metadata
.DS_Store
_codeql_detected_source_root
dist-wasm/

# Emscripten SDK (cached in CI)
.emsdk/
