build*/
cmake-build-*/
cache/
extern/SDL2-*
extern/SDL2.framework
dist/

# IDEs and OS-specific stuff
.vs/
.idea/
.DS_Store
*.user

# Python
__pycache__/
*.pyc
extern/SDL/

# Emscripten / GitHub Pages
.emsdk/
_site/
