build*/
cmake-build-*/
cache/
extern/SDL*
dist/

# IDEs and OS-specific stuff
.vs/
.DS_Store
*.user

# CodeQL detection artifact
_codeql_detected_source_root

# Android build artifacts
android/.gradle/
android/app/build/
android/app/.cxx/
android/local.properties
